body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  width: 100%;
  display: flex;
  height:100%;

  column-gap: 10px;
}
.sidebar {
  flex: 1;
  border-right: 1.5px solid #000;
}

.profile {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px 20px 24px;
  border: 0px solid red;
}
.profile-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #d8d8d8;
}
.profile-information {
  display: flex;
  flex-direction: column;
  gap: 4px;
  border: 0px solid red;
}
.profile-name {
  font-size: 16px;
  font-weight: 500;
  color: #000;
}
.profile-role {
  font-size: 13px;
  color: #000;
}
.navigation {
  display: flex;
  flex-direction: column;
}
a {
  border: 1px solid #000;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
  background-color: #d8d8d8;
  display: block;
  padding: 14px 24px;
}
.content {
  flex: 3;
  margin: 20px 40px 30px;
  padding: 0 35px 20px;
  border: 1.4px solid #000;
  border-radius: 10px;
}
.apply-section {
  margin-bottom: 8rem;
  padding: 0;
  box-sizing: border-box;
}

.content h2,
.content p {
  font-size: 1rem;
  margin: 1rem;
  color: #000;
  text-align: center;
}
.apply-box {
  padding: 20px;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
}
.form-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.form-control {
  display: flex;
  flex-direction: column;
}
label {
  font-size: 15px;
  margin-bottom: 5px;
}
input,
select{
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.form-submit-btn {
  background-color: blue;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.75rem 2.5rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  letter-spacing: 0.03em;

  margin: 0 auto;
}
.form-submit-btn:hover {
  background-color: #000;
  color: #fff;
}

fieldset {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 0;
  padding: 1.5rem;
}
legend {
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: 0.05em;
  padding: 0 0.4rem;
  color: #000;
  margin-bottom: 1rem;
}
.fields-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.2rem 1.5rem;
}
.form-control.full-width {
  grid-column: 1 / -1;
}
